/.DS_Store
/.vscode
/Week2
/Week3
/Week4
/Week5
/Week6
/exam1
/exam2practice.cpp
/exam3prep
/exam4
/helloworld
/helloworld.cpp
/helloworld.dSYM
/homework1
/homework2
/hw11
/week15
/week16
/week17
/week7
/week8
/week9